<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="checkin.zxing" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

		<activity
            android:name="Login"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan">
		<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="ShowNFCList"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
          android:name="TagViewer"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="ViewNFC"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="SiteSelect"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CustomScannerActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


</manifest>
